{% extends "auctions/layout.html" %}

{% block body %}
    {% if category != None %}
        <h2>Active Listings ({{ category.name }})</h2>
    {% elif disp == 'all' %}
        <h2>All Listings</h2>
    {% else %}
        <h2>Active Listings</h2>
    {% endif %}

    <div class="container-fluid"></div>
    {% for listing in listings %}
        <div class="row index-listing">
            <div class="col-3">
                <img src="{{ listing.image.url }}" alt="listing image" class="index-listing-img">
            </div>
            <div class="col index-listing-details">
                <h4><a href="{% url 'listing' listing.id %}">{{ listing.title }} </a>
                {% if listing.active == True %}
                    <span class="badge badge-primary">Active</span>
                {% else %}
                    <span class="badge badge-secondary">Inactive</span>
                {% endif %}
                </h4>
                <p class="text-muted">Listed on {{ listing.date }} by {{ listing.user_id.username }}</p>
                <h3><strong>${{ listing.current_bid|floatformat:2 }}</strong></h3>
                <p><strong>Category: </strong>{{ listing.category_id }}</p>
            </div>
            <div class="col index-listing-details">  
                <p><strong>Description: </strong>{{ listing.description }}</p>
            </div>
        </div>
    {% empty %}
        <div class="row index-listing">
            <div class="col">
                <h4>No listings were found.</h4>
            </div>
        </div>   
    {% endfor %}
    </div>
{% endblock %}