{% extends "auctions/layout.html" %}

{% load crispy_forms_tags %}

{% block body %}
    <div class="container-fluid"></div>
        <div class="row listing">
            <div class="col">
                <h2 class="listing-title">{{ listing.title }} 
                    {% if listing.active %}
                        <span class="badge badge-primary">Active</span>
                    {% else %}
                        <span class="badge badge-secondary">Inactive</span>
                    {% endif %}
                    {% if watched %}
                        <span class="badge badge-secondary">Watching</span>
                    {% endif %}
                </h2>
                <img src="{{ listing.image.url }}" alt="listing image" class="listing-img">
                <div class="listing-details">
                    <h3><strong>${{ listing.current_bid|floatformat:2 }}</strong></h3>
                    {% if listing.active %}
                        {% if not highest_bidder %}
                            <p><strong>New Listing!</strong> Improve your chances. Be the first to bid on this item!</p>
                        {% else %}
                            <p><strong>Highest Bidder: </strong>{{ highest_bidder.user_id.username }}</p>
                        {% endif %}
                        <a href="{% url 'place-bid' listing.id %}" class="btn btn-primary btn-lg">Place a Bid</a>
                        <div class="mt-2">
                        {% if owner %}
                            <a href="{% url 'close-listing-confirm' listing.id %}" class="btn btn-sm btn-danger">Close This Listing</a>
                        {% endif %}
                        </div>
                    {% elif not listing.active and not owner and winner %}
                        <p><strong>You are the winner of this auction! congratulations</strong></p>
                    {% else %}
                        <p><strong>This auction has ended. No more bids can be placed.</strong></p>
                    {% endif %}
                    <div class="mt-2">
                        {% if watched %}
                            <a href="{% url 'watchlist-rem' listing.id %}" class="btn btn-sm btn-warning">Remove from Watchlist</a>
                        {% else %}
                            <a href="{% url 'watchlist-add' listing.id %}" class="btn btn-sm btn-info">Add to Watchlist</a>
                        {% endif %}
                        
                    </div>
                </div>
                <div class="listing-details">
                    <h4>Description</h4>
                    <p>{{ listing.description }}</p>
                </div>
                <div class="listing-details">
                    <h4>Details</h4>
                    <ul>
                        <li>Listed by: {{ listing.user_id.username }}</li>
                        <li>List Date: {{ listing.date }}</li>
                        <li>Category: {{ listing.category_id }}</li>
                    </ul>
                </div>
                <div class="listing-details">
                    <h4>Shipping & Returns</h4>
                    <p><strong>Shipping:</strong> USPS First-class (3-5 days)</p>
                    <p><strong>Returns:</strong> 30 day returns</p>
                </div>
                <div class="listing-details">
                    <h4>Comments</h4>
                    <form action="{% url 'post-comment' listing.id %}" method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input class="btn btn-primary" type="submit" value="Submit Comment">
                    </form>
                    {% for comment in comments %}
                        <div class="listing-comment mt-3 mb-3">
                            <h5>
                                <strong>{{ comment.user_id.username }}</strong>
                                <span class="text-muted">@ {{ comment.date }}</span>
                            </h5>
                            {{ comment.comment }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}